.dynamic-search-widget-cuna-mas {
  width: 100%;
  height: 100%;
}

.dynamic-search-widget-cuna-mas h3 {
  font-size: 1.2em;
}

.dynamic-search-widget-cuna-mas h3,
p {
  margin-top: 0;
}

#containerGroupsCs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#containerGridCs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

#containerGridCs img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}